.contributionCalendarIframe {
    border: none;
    width: 100%;
    height: 190px;
    background-color: #ffffff;
}

.statsCard {
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #e0e0e0; /* Subtle border */
    margin-bottom: 20px;
  }
  